body {
  padding-top: 50px;
  font-family: 'Coda', cursive;
}

.em-text{
	color: #0e6259 !important;
}
section{
	padding: 40px 0 40px 0;
}
.jumbotron{
	background: #272c38 url(../img/site_showcase_bg.jpg) top center;
	background-repeat: no-repeat;
	color: white;
	height: 500px;
	overflow: none;
}
.jumbotron h1{
	margin-top: 60px;

}
.jumbotron p{
	margin-bottom: 40px;
}
.jumbotron img.app-btn{
	width: 40%;
	margin-right: 30px;
}

.jumbotron img.showcase-img{
	width: 65%;
	margin-left: 100px;
}

img.demo{
	width: 100%;
	padding:5px;
	border: 1px solid #0e6259;
}

h2{
	text-align: center;
}
.middle-btn{
	text-align: center !important;
}
.col-md-4{
	margin-bottom: 20px;
}
form{
	padding-bottom: 20px;
}
section#feature{
	background: #0e6259 !important;
	color: #fff;
	padding: 40px;
	overflow: auto;
}
section#feature ul li{
	word-spacing: none;
	font-size: 22px;
	list-style: none;
	line-height: 2.0em;
}
section#feature ul{
	padding: 0;
	margin:0;
}
section#feature img{
	width: 150%;

}
section#title-bar{
	margin:0;
	padding: 0;
	background: #0e6259 !important;
}
section#title-bar h1{
	padding-bottom: 10px;
	color:#fff;
}
footer{
	background: #333;
	color:#fff;
	padding: 30px 0 20px 0;
}
footer li{
	float:left;
	padding: 0 10px 0 10px;
	list-style : none;
}
footer a{
	color: #fff;
}
footer p{
	float: right;
}

/*media  queries*/
@media (max-width :1200px){}
@media (max-width :990px){
	.jumbotron img.showcase-img{
	display: none;
}
}


@media (min-width:768px) and (max-width: 990px) {
.jumbotron img.app-btn{
	width: 30%;
}

.jumbotron{
	height: 400px !important;
	background-size: 100% 100%;
}
.jumbotron h1{
	margin-top: 10px;
}
}

@media (max-width:768px){
	/*.navbar{
		background: blue;
	}*/
	.jumbotron{
	height: 350px !important;
	background-size: 100% 100%;
}
.jumbotron h1{
	margin-top: 20px;
}

.jumbotron img.app-btn{
	width: 30%;
}
}
@media (max-width:500px){
	/*.navbar{
		background: blue;
	}*/
	.jumbotron{
		
		background-image: none;
		height: 450px !important;
		text-align: center;
	}
.jumbotron h1{
	margin-top: 10px;

}
.jumbotron img.app-btn{
	width: 60%;
	margin: 0 auto 30px auto;
	display: block;
}
 section#feature ul li{
 	font-size: 19px !important;
 }
 footer p{
 	float: none;
 	text-align: center;
 	padding-top: 10px;

 }
}
